.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background: linear-gradient(135deg, #7c3aed, #9333ea);
  color: white;
  border-radius: 20px;
  margin:40px;
margin-top:120px;
}

.hero-left {
  width: 50%;
}

.hero-left h1{
    font-size:52px;
    line-height:1.2;
    margin-bottom:20px;
    color:white;
}
.hero-left p{
    color:#f3f4f6;
    font-size:20px;
    line-height:1.8;
}
.hero-left button{
    margin-top:30px;
    padding:16px 35px;
    border:none;
    border-radius:40px;
    background:white;
    color:#6d28d9;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.hero-left button:hover{
    transform:translateY(-5px);
}

.hero-right img{
    width:400px;
    max-width:100%;
}
/* Categories */

.categories{
    margin:60px 40px;
    text-align:center;
}

.categories h2{
    font-size:36px;
    margin-bottom:40px;
    color:#222;
}

.category-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    flex-wrap:wrap;
}

.category-card{
    width:200px;
    height:200px;
    background:white;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:0.3s;
    font-size:55px;
    margin-top:15px;
    font-size:22px;
}


.category-card:hover{
    transform:translateY(-10px) scale(1.05);
    background:#6d28d9;
    color:white;
    box-shadow:0 15px 30px rgba(109,40,217,0.3);
}

/* Featured Products */

.featured {
  margin: 80px 40px;
}

.featured h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #222;
}

.featured-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}